In [1]:
cd /Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish

In [2]:
from paprika.alpha.base import *
from paprika.data.data_processor import DataProcessor
from paprika.data.feed_filter import TimeFreqFilter, TimePeriod
from paprika.data.data_channel import DataChannel

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/arctic/store/_pandas_ndarray_store.py:6: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import DataFrame, Series, Panel

# load EOD data and Process it to Weekly

In [3]:
symbols = DataChannel.check_register(['\w*.\w*.EOD'], False)

In [4]:
time_filter = TimeFreqFilter(TimePeriod.WEEK, 1)

In [5]:
symbols[0:2]

['SP500.A.EOD', 'SP500.AAP.EOD']

In [6]:
dp = DataProcessor(symbols[0:10])

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/data_processor.py:42: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  self._data = DataChannel.download(args[0], *args[1:], **kwargs)

In [7]:
dp.ohlcv(time_filter, inplace=True)

# load Alpha Lib

In [8]:
alpha = Alpha(dp)

In [9]:
alpha.list_alpha_universe()

['alpha_3', 'alpha_4']

In [10]:
alpha.calc_alpha(['alpha_3'])

In [11]:
alpha.list_alpha()

['alpha_3']

In [12]:
alpha['alpha_3']

Symbol,SP500.A.EOD,SP500.AAP.EOD,SP500.AAPL.EOD,SP500.ABBV.EOD,SP500.ACN.EOD,SP500.ADI.EOD,SP500.ADM.EOD,SP500.ADP.EOD,SP500.ADS.EOD,SP500.ADSK.EOD
Start_Period,,,,,,,,,,
2007-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2019-01-20,inf,0.156174,NaN,-0.0,-0.0,0.121566,-0.0,0.300385,NaN,-0.085358
2019-01-27,NaN,-0.111111,NaN,-0.0,-0.0,-0.068041,-0.0,0.395285,NaN,-0.068041
2019-02-03,inf,-0.111111,NaN,-0.0,-0.0,-0.185695,-0.0,0.561529,NaN,-0.084941
2019-02-10,inf,-0.349215,NaN,-0.0,-0.0,-0.272727,-0.0,0.530669,-1.666667e-01,-0.606478
2019-02-17,NaN,-0.493013,NaN,-0.0,-0.0,-0.102062,-0.0,0.557086,5.508249e-15,-0.666667

In [55]:
def alpha_5(dp, g):
    return dp.close * g

alpha_5.info = 'dp.close * g'

In [56]:
alpha.add_alpha(alpha_5, 3)
print(alpha.list_alpha())

['alpha_3', 'alpha_5']

In [57]:
alpha.load_alpha_universe()

In [58]:
alpha.list_alpha_universe()

['alpha_3', 'alpha_4']