In [1]:
cd /Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish

In [42]:
import pandas as pd
from datetime import datetime, timedelta

In [6]:
from paprika.data.data_processor import DataProcessor
from paprika.data.feed_filter import TimeFreqFilter, TimePeriod
from paprika.data.data_channel import DataChannel
from paprika.data.data_type import DataType

# Data type

OrderBook: *.OrderBook
Trade: *.Trade
Candle: *.Frequence.Candle

# 1 DataChannel

## 1. 1 Check available data

In [3]:
symbols = DataChannel.check_register(['.*.Candle'], return_with_type=False)
for source, symbols in symbols.items():
    print(f'{source}:', symbols[0:10])

feeds: []
mdb: ['SP500.AAL', 'SP500.AAP', 'SP500.ABBV', 'SP500.ABMD', 'SP500.ACN', 'SP500.ADI', 'SP500.ADM', 'SP500.ADSK', 'SP500.AEP', 'SP500.AFL']

In [4]:
symbols = DataChannel.check_register(['.*.Trade'], return_with_type=True)
for source, symbols in symbols.items():
    print(f'{source}:', symbols[0:10])

feeds: []
mdb: ['ETF.DE0002635299.Trade', 'ETF.DE0002635307.Trade', 'ETF.DE0005933923.Trade', 'ETF.DE0005933931.Trade', 'ETF.DE000A0D8Q07.Trade', 'ETF.DE000A0D8Q49.Trade', 'ETF.DE000A0Q4RZ9.Trade', 'ETF.DE000A1EK0H1.Trade', 'ETF.DE000A1EK3B8.Trade', 'ETF.FR0007054358.Trade']

In [5]:
symbols = DataChannel.check_register(['.*.OrderBook'], return_with_type=False)
for source, symbols in symbols.items():
    print(f'{source}:', symbols[0:10])

feeds: []
mdb: ['EUX.FBTP201812', 'EUX.FBTP201903', 'EUX.FBTP201906', 'EUX.FBTP201909', 'EUX.FBTS201812', 'EUX.FBTS201903', 'EUX.FBTS201906', 'EUX.FDAX201812', 'EUX.FDAX201903', 'EUX.FDAX201906']

## 1. 2 Fetch data

1.2.1 With DataType

In [11]:
df_candle = DataChannel.fetch(['SP500.A.*'], data_type=DataType.CANDLE, frequency='1D')
df_candle.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  """Entry point for launching an IPython kernel.

                           Open       High        Low      Close     Volume  \
Symbol    Date
SP500.AAL 2007-01-03  53.889999  56.919998  53.889999  56.299999  2955600.0
          2007-01-04  56.299999  59.150002  53.650002  58.840000  2614500.0
          2007-01-05  58.830002  59.150002  57.900002  58.290001  1656300.0
          2007-01-08  57.299999  60.480000  57.040001  57.930000  2163200.0
          2007-01-09  59.439999  60.200001  57.560001  57.900002  2098600.0

                     Symbol
Symbol    Date
SP500.AAL 2007-01-03    AAL
          2007-01-04    AAL
          2007-01-05    AAL
          2007-01-08    AAL
          2007-01-09    AAL

In [14]:
df_candle.tail()

                            Open        High         Low       Close  \
Symbol    Date
SP500.AZO 2019-02-05  873.739990  878.020020  863.590027  869.419983
          2019-02-06  870.859985  873.979980  863.979980  868.080017
          2019-02-07  874.880005  879.950012  860.000000  878.770020
          2019-02-08  873.159973  889.880005  868.750000  874.080017
          2019-02-11  875.380005  888.869995  871.330017  887.909973

                        Volume Symbol
Symbol    Date
SP500.AZO 2019-02-05  281400.0    AZO
          2019-02-06  238800.0    AZO
          2019-02-07  316100.0    AZO
          2019-02-08  278800.0    AZO
          2019-02-11  276700.0    AZO

In [18]:
df_trade = DataChannel.fetch(['ETF.DE000263.*'], data_type=DataType.TRADES)
print(df_trade.head())

                                                     ISIN      Date  \
Symbol           Date
ETF.DE0002635299 2019-01-07 09:00:03.283402  DE0002635299  20190107
                 2019-01-07 09:01:22.734446  DE0002635299  20190107
                 2019-01-07 09:02:30.770710  DE0002635299  20190107
                 2019-01-07 10:57:13.579614  DE0002635299  20190107
                 2019-01-07 11:51:24.983516  DE0002635299  20190107

                                             MarketTime  TimeSec  TimeMM  Qty  \
Symbol           Date
ETF.DE0002635299 2019-01-07 09:00:03.283402       90006    90003  283402    6
                 2019-01-07 09:01:22.734446       90125    90122  734446  497
                 2019-01-07 09:02:30.770710       90233    90230  770710  203
                 2019-01-07 10:57:13.579614      105716   105713  579614  125
                 2019-01-07 11:51:24.983516      115128   115124  983516  500

                                              Price  Volume
Symbol           Date
ETF.DE0002635299 2019-01-07 09:00:03.283402  15.924       6
                 2019-01-07 09:01:22.734446  15.700     503
                 2019-01-07 09:02:30.770710  15.700     706
                 2019-01-07 10:57:13.579614  15.592     831
                 2019-01-07 11:51:24.983516  15.624    1331

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  """Entry point for launching an IPython kernel.

In [26]:
df_trade2 = DataChannel.fetch(['ETF.DE000263.*'], data_type=DataType.TRADES, 
                              timestamp=datetime(2019, 1, 7, 10))
print(df_trade2)

                                                     ISIN      Date  \
Symbol           Date
ETF.DE0002635299 2019-01-07 09:02:30.770710  DE0002635299  20190107
ETF.DE0002635307 2019-01-07 09:47:11.900439  DE0002635307  20190107

                                            MarketTime TimeSec  TimeMM  Qty  \
Symbol           Date
ETF.DE0002635299 2019-01-07 09:02:30.770710      90233   90230  770710  203
ETF.DE0002635307 2019-01-07 09:47:11.900439      94715   94711  900439  100

                                              Price Volume
Symbol           Date
ETF.DE0002635299 2019-01-07 09:02:30.770710    15.7    706
ETF.DE0002635307 2019-01-07 09:47:11.900439  33.845  20624

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.

In [24]:
df_trade3 = DataChannel.fetch(['ETF.DE000263.*'], data_type=DataType.TRADES, 
                              start=datetime(2019, 1, 7, 10),
                             end=datetime(2019, 1, 7, 11))
print(df_trade3)

                                                     ISIN      Date  \
Symbol           Date
ETF.DE0002635299 2019-01-07 10:57:13.579614  DE0002635299  20190107
ETF.DE0002635307 2019-01-07 10:11:53.995290  DE0002635307  20190107
                 2019-01-07 10:31:53.974507  DE0002635307  20190107
                 2019-01-07 10:32:18.198353  DE0002635307  20190107
                 2019-01-07 10:48:50.374847  DE0002635307  20190107
                 2019-01-07 10:48:50.374859  DE0002635307  20190107
                 2019-01-07 10:50:31.222210  DE0002635307  20190107
                 2019-01-07 10:52:22.411089  DE0002635307  20190107
                 2019-01-07 10:52:22.413689  DE0002635307  20190107
                 2019-01-07 10:54:03.362734  DE0002635307  20190107

                                             MarketTime  TimeSec  TimeMM  \
Symbol           Date
ETF.DE0002635299 2019-01-07 10:57:13.579614      105716   105713  579614
ETF.DE0002635307 2019-01-07 10:11:53.995290      101156   101153   99529
                 2019-01-07 10:31:53.974507      103157   103153  974507
                 2019-01-07 10:32:18.198353      103221   103218  198353
                 2019-01-07 10:48:50.374847      104853   104850  374847
                 2019-01-07 10:48:50.374859      104853   104850  374859
                 2019-01-07 10:50:31.222210      105034   105031  222210
                 2019-01-07 10:52:22.411089      105225   105222  411089
                 2019-01-07 10:52:22.413689      105225   105222  413689
                 2019-01-07 10:54:03.362734      105406   105403  362734

                                              Qty   Price  Volume
Symbol           Date
ETF.DE0002635299 2019-01-07 10:57:13.579614   125  15.592     831
ETF.DE0002635307 2019-01-07 10:11:53.995290  3500  33.785   24124
                 2019-01-07 10:31:53.974507    40  33.755   24164
                 2019-01-07 10:32:18.198353    40  33.745   24204
                 2019-01-07 10:48:50.374847  3500  33.700   27704
                 2019-01-07 10:48:50.374859  1634  33.700   29338
                 2019-01-07 10:50:31.222210  2700  33.715   32038
                 2019-01-07 10:52:22.411089  2600  33.715   34638
                 2019-01-07 10:52:22.413689   900  33.715   35538
                 2019-01-07 10:54:03.362734  3500  33.700   39038

In [28]:
df_trade4 = DataChannel.fetch(['ETF.DE000263.*'], data_type=DataType.TRADES, 
                              start=datetime(2019, 1, 15, 10)
                             )
print(df_trade4)

                                                     ISIN      Date  \
Symbol           Date
ETF.DE0002635299 2019-01-15 11:30:00.822693  DE0002635299  20190115
                 2019-01-15 16:09:58.215366  DE0002635299  20190115
                 2019-01-15 16:21:59.533810  DE0002635299  20190115
                 2019-01-15 16:59:45.741536  DE0002635299  20190115
                 2019-01-15 17:24:12.529494  DE0002635299  20190115
...                                                   ...       ...
ETF.DE0002635307 2019-02-20 17:20:05.105820  DE0002635307  20190220
                 2019-02-20 17:20:05.358430  DE0002635307  20190220
                 2019-02-20 17:20:05.602610  DE0002635307  20190220
                 2019-02-20 17:22:38.995800  DE0002635307  20190220
                 2019-02-20 17:29:49.103179  DE0002635307  20190220

                                             MarketTime  TimeSec  TimeMM  \
Symbol           Date
ETF.DE0002635299 2019-01-15 11:30:00.822693      113006   113000  822693
                 2019-01-15 16:09:58.215366      161004   160958  215366
                 2019-01-15 16:21:59.533810      162205   162159  533810
                 2019-01-15 16:59:45.741536      165951   165945  741536
                 2019-01-15 17:24:12.529494      172418   172412  529494
...                                                 ...      ...     ...
ETF.DE0002635307 2019-02-20 17:20:05.105820      172012   172005   10582
                 2019-02-20 17:20:05.358430      172012   172005   35843
                 2019-02-20 17:20:05.602610      172012   172005   60261
                 2019-02-20 17:22:38.995800      172245   172238   99580
                 2019-02-20 17:29:49.103179      172957   172949  103179

                                               Qty   Price  Volume
Symbol           Date
ETF.DE0002635299 2019-01-15 11:30:00.822693    371  15.740     621
                 2019-01-15 16:09:58.215366   1365  15.748    1986
                 2019-01-15 16:21:59.533810    643  15.748    2629
                 2019-01-15 16:59:45.741536    150  15.776    2779
                 2019-01-15 17:24:12.529494    116  15.770    2895
...                                            ...     ...     ...
ETF.DE0002635307 2019-02-20 17:20:05.105820  12063  36.640  114680
                 2019-02-20 17:20:05.358430   9479  36.640  124159
                 2019-02-20 17:20:05.602610   6858  36.640  131017
                 2019-02-20 17:22:38.995800    300  36.620  131317
                 2019-02-20 17:29:49.103179     78  36.645  131395

[1505 rows x 8 columns]

## 1.3 Fetch price
get price from the orderbook, trade, candle

In [31]:
df_price = DataChannel.fetch_price(['SP500.A.*'], timestamp=datetime(2018, 9, 1))
df_price

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/data_channel.py:359: FutureWarning: to_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  DataChannel.redis.set(redis_key, df.to_msgpack(compress='blosc'))

                                      Price
Symbol     Date
SP500.AAL  2018-08-31 01:00:00    40.480000
SP500.AAP  2018-08-31 01:00:00   164.029999
SP500.ABBV 2018-08-31 01:00:00    95.980003
SP500.ABMD 2018-08-31 01:00:00   406.579987
SP500.ACN  2018-08-31 01:00:00   169.070007
SP500.ADI  2018-08-31 01:00:00    98.849998
SP500.ADM  2018-08-31 01:00:00    50.400002
SP500.ADSK 2018-08-31 01:00:00   154.350006
SP500.AEP  2018-08-31 01:00:00    71.730003
SP500.AFL  2018-08-31 01:00:00    46.240002
SP500.AJG  2018-08-31 01:00:00    72.139999
SP500.AKAM 2018-08-31 01:00:00    75.139999
SP500.ALB  2018-08-31 01:00:00    95.519997
SP500.ALGN 2018-08-31 01:00:00   386.489990
SP500.ALL  2018-08-31 01:00:00   100.570000
SP500.ALLE 2018-08-31 01:00:00    87.220001
SP500.ALXN 2018-08-31 01:00:00   122.239998
SP500.AMD  2018-08-31 01:00:00    25.170000
SP500.AMGN 2018-08-31 01:00:00   199.809998
SP500.AMZN 2018-08-31 01:00:00  2012.709961
SP500.ANSS 2018-08-31 01:00:00   185.979996
SP500.ANTM 2018-08-31 01:00:00   264.730011
SP500.ARNC 2018-08-31 01:00:00    22.379999
SP500.ATVI 2018-08-31 01:00:00    72.099998
SP500.AVGO 2018-08-31 01:00:00   219.029999
SP500.AVY  2018-08-31 01:00:00   105.180000
SP500.AZO  2018-08-31 01:00:00   766.880005

In [33]:
df_price = DataChannel.fetch_price(['ETF.DE000263.*'], timestamp=datetime(2019, 1, 15, 10))
df_price

                                              Price
Symbol           Date
ETF.DE0002635299 2019-01-15 09:19:14.433925  15.816
ETF.DE0002635307 2019-01-15 09:30:19.523190  34.480

In [36]:
df_price = DataChannel.fetch_price(['EUX.FBTP2019.*'], timestamp=datetime(2019, 1, 2, 10))
df_price

                                            Price
Symbol         Date
EUX.FBTP201903 2019-01-02 09:59:59.974260  128.05
EUX.FBTP201906 2019-01-02 09:59:59.974258  126.14
EUX.FBTP201909 2019-01-02 09:59:59.974262  123.80

# 2 DataChannel

In [40]:
data = DataChannel.fetch(['SP500.A.*'], data_type=DataType.CANDLE, frequency='1D')
time_filter = TimeFreqFilter(TimePeriod.WEEK, 1)
dp = DataProcessor(data)
dp.ohlcv(time_filter, inplace=True)
dp.close.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  """Entry point for launching an IPython kernel.

Symbol,SP500.AAL,SP500.AAP,SP500.ABBV,SP500.ABMD,SP500.ACN,SP500.ADI,SP500.ADM,SP500.ADSK,SP500.AEP,SP500.AFL,...,SP500.AMD,SP500.AMGN,SP500.AMZN,SP500.ANSS,SP500.ANTM,SP500.ARNC,SP500.ATVI,SP500.AVGO,SP500.AVY,SP500.AZO
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-07,58.290001,35.020000,NaN,14.14,36.680000,33.029999,31.830000,41.930000,42.040001,22.900,...,19.709999,71.500000,38.369999,22.000000,78.489998,64.677658,8.600,NaN,67.320000,118.830002
2007-01-14,60.810001,36.200001,NaN,14.59,37.980000,33.939999,30.959999,43.740002,41.860001,24.195,...,18.260000,73.269997,38.200001,22.065001,77.800003,69.242882,9.040,NaN,68.690002,124.610001
2007-01-21,58.290001,37.299999,NaN,14.59,36.750000,32.790001,31.420000,42.230000,41.939999,23.885,...,17.730000,74.250000,37.020000,22.430000,77.320000,70.614693,8.870,NaN,68.830002,125.089996
2007-01-28,52.130001,37.490002,NaN,14.29,36.529999,33.320000,31.530001,42.450001,43.259998,23.475,...,16.219999,71.500000,36.849998,23.834999,75.980003,72.121437,8.410,NaN,67.669998,124.750000
2007-02-04,57.980000,37.490002,NaN,14.51,38.590000,33.340000,35.270000,44.290001,44.259998,24.350,...,15.690000,69.449997,37.389999,24.920000,78.709999,72.953522,8.695,NaN,68.930000,126.849998

In [39]:
data = DataChannel.fetch(['ETF.DE000263.*'], data_type=DataType.TRADES)
time_filter = TimeFreqFilter(TimePeriod.DAY, 1)
dp = DataProcessor(data)
dp.ohlcv(time_filter, inplace=True)
dp.close

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  """Entry point for launching an IPython kernel.

Symbol      ETF.DE0002635299  ETF.DE0002635307
Date
2018-01-30               NaN            38.980
2018-01-31               NaN            38.830
2018-02-01               NaN            38.630
2018-02-02               NaN            38.150
2018-02-05               NaN            37.585
...                      ...               ...
2019-02-14            16.338            35.910
2019-02-15            16.436            36.390
2019-02-18            16.504            36.465
2019-02-19            16.520            36.390
2019-02-20            16.450            36.645

[264 rows x 2 columns]

# 3. Run through a signal

In [41]:
from paprika.execution.order import Side, MarketOrder
from paprika.portfolio.order_manager import SimpleOrderManager
from paprika.portfolio.order_manager import TransactionCost, TransactionCostType
from paprika.portfolio.portfolio_manager import PortfolioManager
from paprika.portfolio.portfolio import Portfolio
from paprika.portfolio.risk_policy import RiskPolicy
from paprika.data.feed import Feed
from paprika.signals.signals.signal_bollinger_bands import BollingerBands
from paprika.portfolio.analysis import PortfolioAnalyser

## 3.1 Run a signal

In [48]:
symbols = DataChannel.check_register(['.*.Candle'], return_with_type=False)
for source, symbol in symbols.items():
    print(f'{source}:', symbol[0:10])

feeds: []
mdb: ['SP500.AAL', 'SP500.AAP', 'SP500.ABBV', 'SP500.ABMD', 'SP500.ACN', 'SP500.ADI', 'SP500.ADM', 'SP500.ADSK', 'SP500.AEP', 'SP500.AFL']

In [56]:
tickers = [symbols['mdb'][0], symbols['mdb'][1]]
feed = Feed(f'{tickers[0]} to {tickers[1]}', datetime(2014, 1, 1), datetime(2016, 1, 1))
feed.set_feed(tickers, DataType.CANDLE, how='inner')

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/fetcher.py:142: FutureWarning: to_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  self.redis.set(redis_key, df_result.to_msgpack(compress='blosc'))
/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/data_channel.py:85: FutureWarning: to_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  DataChannel.redis.set(table_name, data_frame.to_msgpack(compress='blosc'))

In [57]:
signal = BollingerBands(LOOKBACK=60, Y_NAME=tickers[0], X_NAME=tickers[1])
feed.add_subscriber(signal)
signal.run()

In [66]:
signal_data = signal.signal_data()
signals_data = {'C': signal_data}

In [59]:
signal_data.get_frame('positions')

                     SP500.AAL  SP500.AAP
date
2014-06-24 01:00:00   0.975259       -1.0
2014-06-25 01:00:00  -0.000000        0.0
2014-06-26 01:00:00  -0.000000        0.0
2014-06-27 01:00:00  -0.000000        0.0
2014-06-30 01:00:00  -0.000000        0.0
...                        ...        ...
2015-12-24 00:00:00  -2.638609        1.0
2015-12-28 00:00:00  -3.091108        1.0
2015-12-29 00:00:00  -3.860569        1.0
2015-12-30 00:00:00  -4.375275        1.0
2015-12-31 00:00:00  -5.821870        1.0

[385 rows x 2 columns]

## 3.2 Use Portfolio manager to execute the signal

In [60]:
tc = TransactionCost(TransactionCostType.FIXED, 0.01)
order_manager = SimpleOrderManager(tc)

In [63]:
base_currency = 'EUR'
balance = {base_currency: 100000}
portfolio = Portfolio('T', base_currency, balance)
portfolio

Portfolio(name=T, base_currency=EUR, balance={'EUR': '100000.0'}),avail_balance={'EUR': '100000.0'})

In [64]:
risk_policy = RiskPolicy()
portfolio_manager = PortfolioManager(order_manager, risk_policy=risk_policy)
portfolio_manager.portfolio = portfolio
portfolio_manager.portfolio

Portfolio(name=T, base_currency=EUR, balance={'EUR': '100000.0'}),avail_balance={'EUR': '100000.0'})

In [68]:
portfolio_manager.executing_signals(signals_data)

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/data_channel.py:359: FutureWarning: to_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  DataChannel.redis.set(redis_key, df.to_msgpack(compress='blosc'))
/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/data/data_channel.py:293: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  arctic_host=arctic_host
/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/portfolio/order_manager.py:114: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  end=order.creation_time + self._candle_time_span)

                                                              balance  \
2014-06-24 01:00:00                                 {'EUR': 100000.0}
2014-06-25 01:00:00  {'SP500.AAL': 1143.0, 'EUR': 49205.079999999994}
2014-06-26 01:00:00      {'SP500.AAL': 1.0, 'EUR': 99628.94573883999}
2014-06-27 01:00:00                           {'EUR': 99673.24823884}
2014-07-01 01:00:00                           {'EUR': 99673.24823884}
...                                                               ...
2015-12-23 00:00:00    {'SP500.AAP': 193.0, 'EUR': 60859.92217767996}
2015-12-24 00:00:00    {'SP500.AAP': 188.0, 'EUR': 61604.00621232996}
2015-12-29 00:00:00    {'SP500.AAP': 146.0, 'EUR': 67965.74621232996}
2015-12-30 00:00:00    {'SP500.AAP': 122.0, 'EUR': 71602.68957864997}
2015-12-31 00:00:00    {'SP500.AAP': 111.0, 'EUR': 73257.31620042997}

                    portfolio_value
2014-06-24 01:00:00          100000
2014-06-25 01:00:00         99394.2
2014-06-26 01:00:00         99673.5
2014-06-27 01:00:00         99673.2
2014-07-01 01:00:00         99673.2
...                             ...
2015-12-23 00:00:00         89628.5
2015-12-24 00:00:00         89640.4
2015-12-29 00:00:00         90186.9
2015-12-30 00:00:00         90073.5
2015-12-31 00:00:00         89963.9

[302 rows x 2 columns]

In [69]:
print(portfolio_manager.portfolio.total_portfolio_records)

                                                              balance  \
2014-06-24 01:00:00                                 {'EUR': 100000.0}
2014-06-25 01:00:00  {'SP500.AAL': 1143.0, 'EUR': 49205.079999999994}
2014-06-26 01:00:00      {'SP500.AAL': 1.0, 'EUR': 99628.94573883999}
2014-06-27 01:00:00                           {'EUR': 99673.24823884}
2014-07-01 01:00:00                           {'EUR': 99673.24823884}
...                                                               ...
2015-12-23 00:00:00    {'SP500.AAP': 193.0, 'EUR': 60859.92217767996}
2015-12-24 00:00:00    {'SP500.AAP': 188.0, 'EUR': 61604.00621232996}
2015-12-29 00:00:00    {'SP500.AAP': 146.0, 'EUR': 67965.74621232996}
2015-12-30 00:00:00    {'SP500.AAP': 122.0, 'EUR': 71602.68957864997}
2015-12-31 00:00:00    {'SP500.AAP': 111.0, 'EUR': 73257.31620042997}

                    portfolio_value
2014-06-24 01:00:00          100000
2014-06-25 01:00:00         99394.2
2014-06-26 01:00:00         99673.5
2014-06-27 01:00:00         99673.2
2014-07-01 01:00:00         99673.2
...                             ...
2015-12-23 00:00:00         89628.5
2015-12-24 00:00:00         89640.4
2015-12-29 00:00:00         90186.9
2015-12-30 00:00:00         90073.5
2015-12-31 00:00:00         89963.9

[302 rows x 2 columns]

## 3.3 Analyze the portfolio

In [71]:
result = PortfolioAnalyser.analyse(portfolio_manager.portfolio)
print(result)

AnalysisResult(cagr=-0.06719099450969068, sharpe_ratio=-1.0934181219096912, sortino_ratio=-1.3605624743163585, max_drawdown=0.10699692844690027, daily_turnover=9.793285657418525e-05)

# 4. Alpha research

In [74]:
from paprika.alpha.base import Alpha

## 4.1 Fetch data

In [72]:
data = DataChannel.fetch(['SP500.A.*'], data_type=DataType.CANDLE, frequency='1D')
time_filter = TimeFreqFilter(TimePeriod.WEEK, 1)
dp = DataProcessor(data)
dp.ohlcv(time_filter, inplace=True)
dp.close.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The read_msgpack is deprecated and will be removed in a future version.
It is recommended to use pyarrow for on-the-wire transmission of pandas objects.
  """Entry point for launching an IPython kernel.

Symbol,SP500.AAL,SP500.AAP,SP500.ABBV,SP500.ABMD,SP500.ACN,SP500.ADI,SP500.ADM,SP500.ADSK,SP500.AEP,SP500.AFL,...,SP500.AMD,SP500.AMGN,SP500.AMZN,SP500.ANSS,SP500.ANTM,SP500.ARNC,SP500.ATVI,SP500.AVGO,SP500.AVY,SP500.AZO
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-07,58.290001,35.020000,NaN,14.14,36.680000,33.029999,31.830000,41.930000,42.040001,22.900,...,19.709999,71.500000,38.369999,22.000000,78.489998,64.677658,8.600,NaN,67.320000,118.830002
2007-01-14,60.810001,36.200001,NaN,14.59,37.980000,33.939999,30.959999,43.740002,41.860001,24.195,...,18.260000,73.269997,38.200001,22.065001,77.800003,69.242882,9.040,NaN,68.690002,124.610001
2007-01-21,58.290001,37.299999,NaN,14.59,36.750000,32.790001,31.420000,42.230000,41.939999,23.885,...,17.730000,74.250000,37.020000,22.430000,77.320000,70.614693,8.870,NaN,68.830002,125.089996
2007-01-28,52.130001,37.490002,NaN,14.29,36.529999,33.320000,31.530001,42.450001,43.259998,23.475,...,16.219999,71.500000,36.849998,23.834999,75.980003,72.121437,8.410,NaN,67.669998,124.750000
2007-02-04,57.980000,37.490002,NaN,14.51,38.590000,33.340000,35.270000,44.290001,44.259998,24.350,...,15.690000,69.449997,37.389999,24.920000,78.709999,72.953522,8.695,NaN,68.930000,126.849998

## 4.2 load Alpha Lib

In [89]:
alpha = Alpha(dp)

In [90]:
alpha.list_alpha_universe()

['alpha_3', 'alpha_4']

In [99]:
alpha.alpha_info('alpha_3')

'- correlation(rank(dp.open), rank(dp.volume), period)'

In [91]:
alpha.calc_alpha(['alpha_.*'])

/Users/fangxia/Library/Mobile Documents/com~apple~CloudDocs/code/hans_radish/paprika/alpha/utils.py:75: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  lambda x: pd.Series(x).rank(axis=0, method='min', ascending=False).iloc[-1])

In [92]:
alpha.list_alpha()

['alpha_3', 'alpha_4']

In [93]:
alpha['alpha_3']

Symbol,SP500.AAL,SP500.AAP,SP500.ABBV,SP500.ABMD,SP500.ACN,SP500.ADI,SP500.ADM,SP500.ADSK,SP500.AEP,SP500.AFL,...,SP500.AMD,SP500.AMGN,SP500.AMZN,SP500.ANSS,SP500.ANTM,SP500.ARNC,SP500.ATVI,SP500.AVGO,SP500.AVY,SP500.AZO
Start_Period,,,,,,,,,,,,,,,,,,,,,
2007-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-03-11,0.283473,0.563771,NaN,inf,-0.189623,0.385471,-0.460682,0.230223,-0.349168,0.184637,...,NaN,0.389249,-0.132435,0.532181,NaN,0.157155,NaN,NaN,0.506160,NaN
2007-03-18,0.247436,0.732242,NaN,NaN,-0.510310,0.550395,-0.403551,0.109073,-0.349168,0.254474,...,NaN,0.492366,-0.062488,0.497096,NaN,0.301511,-inf,NaN,0.335410,NaN
2007-03-25,0.135434,0.272764,NaN,1.666667e-01,-0.645210,0.438633,-0.350438,-0.097683,-0.509175,0.318689,...,NaN,0.509175,-0.094155,0.395575,NaN,-0.090909,NaN,NaN,0.114708,NaN
2007-04-01,-0.032725,-0.072094,NaN,1.666667e-01,-0.259259,0.429842,-0.408248,-0.037992,-0.310345,0.583279,...,NaN,0.492366,-0.009862,0.206284,NaN,-0.179605,inf,NaN,0.193801,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-20,NaN,-0.000000,-0.039294,-0.000000e+00,-0.205076,0.333399,-0.409616,NaN,0.190941,-0.142857,...,NaN,-0.301511,-0.000000,0.309426,-0.0,0.100125,inf,-0.15649,-0.129219,NaN
2019-01-27,NaN,-0.000000,-0.299969,-0.000000e+00,-0.298807,-0.009519,-0.414425,NaN,0.140859,-0.322749,...,NaN,-0.234261,-0.000000,0.309426,-0.0,0.227276,NaN,NaN,-0.056478,NaN
2019-02-03,NaN,-0.250000,0.193662,7.554900e-09,-0.451445,-0.133342,-0.498741,NaN,-0.315854,-0.554826,...,NaN,-0.040962,-0.000000,0.382308,-0.0,0.179777,-0.145479,NaN,0.015392,NaN
2019-02-10,NaN,-0.415227,0.378591,-0.000000e+00,-0.372392,-0.164845,-0.068041,-inf,-0.095637,-0.181369,...,NaN,0.218218,-0.000000,0.202444,-0.0,0.250000,0.054554,NaN,-0.034586,NaN
2019-02-17,NaN,-0.261968,0.240250,-0.000000e+00,-0.567282,-0.117485,-0.000000,NaN,0.297044,0.035333,...,NaN,0.310087,-0.000000,0.319438,-0.0,0.344499,0.190476,NaN,-0.253629,NaN

In [94]:
def alpha_5(dp, g):
    return dp.close * g

alpha_5.info = 'dp.close * g'

In [95]:
alpha.add_alpha(alpha_5, 3)
print(alpha.list_alpha())

['alpha_3', 'alpha_4', 'alpha_5']

In [96]:
alpha['alpha_5']

Symbol,SP500.AAL,SP500.AAP,SP500.ABBV,SP500.ABMD,SP500.ACN,SP500.ADI,SP500.ADM,SP500.ADSK,SP500.AEP,SP500.AFL,...,SP500.AMD,SP500.AMGN,SP500.AMZN,SP500.ANSS,SP500.ANTM,SP500.ARNC,SP500.ATVI,SP500.AVGO,SP500.AVY,SP500.AZO
Start_Period,,,,,,,,,,,,,,,,,,,,,
2007-03-04,151.950006,108.839997,NaN,40.590000,107.250000,106.049994,101.250000,119.370003,134.609997,70.065000,...,42.540000,185.250000,113.069997,74.280000,240.179994,220.614693,24.525000,NaN,194.790000,367.589997
2007-03-11,146.790000,114.419997,NaN,40.380000,108.330003,108.870003,102.600003,115.620003,135.450006,69.345000,...,42.600000,182.580003,116.520000,74.940000,234.960000,223.987998,25.905000,NaN,194.549994,381.839997
2007-03-18,139.169997,113.940000,NaN,36.870000,105.779994,105.990006,100.529994,112.200006,137.910003,68.685000,...,42.030000,177.899997,113.549994,73.544997,236.400009,225.877053,25.605000,NaN,192.210000,373.799994
2007-03-25,142.740006,118.049994,NaN,40.770000,109.200006,106.710000,106.890003,115.140003,147.480000,71.460000,...,40.500000,174.060000,116.940000,76.304997,245.009994,230.667159,27.210000,NaN,199.290000,387.179994
2007-04-01,136.440000,115.649997,NaN,40.980000,115.620003,103.470006,110.100003,112.799994,146.250000,70.590003,...,39.180000,167.640003,119.370003,76.155000,243.299994,228.710655,28.410000,NaN,192.780006,384.419997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-20,101.910003,502.830003,268.500000,1001.219970,451.349991,274.080003,132.779994,425.189988,228.269988,143.100003,...,62.310000,611.640015,5088.599853,485.130021,798.359985,61.020000,145.950006,782.460021,289.710000,2532.960021
2019-01-27,104.940000,459.660003,241.620003,1048.109985,455.550018,293.009994,131.160003,426.240006,230.400009,142.710000,...,65.790000,596.310012,5011.709838,484.949982,818.039979,55.620003,143.399997,803.820006,291.599991,2443.920045
2019-02-03,108.330003,477.119979,241.500000,1053.239961,464.220015,301.620003,134.669997,447.210021,237.330003,143.819997,...,73.530000,561.210021,4878.689940,502.650009,909.870027,55.500000,138.029994,800.429994,313.410003,2549.729919
2019-02-10,108.000000,487.230012,239.009994,1023.629973,466.769988,302.190009,125.279994,462.929994,240.059991,144.540000,...,69.149997,558.000000,4764.659913,515.189988,912.750000,51.300000,130.230000,822.179994,308.460000,2622.240051
2019-02-17,109.770000,495.390015,239.309991,1064.760039,465.960021,305.250000,126.029994,463.710021,240.269988,144.810000,...,68.879997,557.369979,4773.000000,513.689988,906.510039,52.470000,120.330003,827.160003,306.000000,2663.729919

In [97]:
corr_matrix = alpha.corr_between_alphas()
corr_matrix.head(10)

Alpha                alpha_3   alpha_4   alpha_5
           Alpha
SP500.AAL  alpha_3  1.000000  0.014663  0.124347
           alpha_4  0.014663  1.000000 -0.034059
           alpha_5  0.124347 -0.034059  1.000000
SP500.AAP  alpha_3  1.000000  0.051553  0.116171
           alpha_4  0.051553  1.000000  0.065749
           alpha_5  0.116171  0.065749  1.000000
SP500.ABBV alpha_3  1.000000  0.029005 -0.200932
           alpha_4  0.029005  1.000000 -0.046330
           alpha_5 -0.200932 -0.046330  1.000000
SP500.ABMD alpha_3  1.000000  0.031516  0.054529

In [98]:
return_alpha_corr = alpha.corr_between_alpha_and_return()
return_alpha_corr.head(10)

,SP500.AAL,SP500.AAP,SP500.ABBV,SP500.ABMD,SP500.ACN,SP500.ADI,SP500.ADM,SP500.ADSK,SP500.AEP,SP500.AFL,...,SP500.AMD,SP500.AMGN,SP500.AMZN,SP500.ANSS,SP500.ANTM,SP500.ARNC,SP500.ATVI,SP500.AVGO,SP500.AVY,SP500.AZO
Alpha,,,,,,,,,,,,,,,,,,,,,
alpha_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.000215149,-0.0568603,NaN,NaN,NaN,NaN,NaN,NaN,0.226739
alpha_4,-0.119734,-0.0819488,-0.0749196,-0.11168,0.056352,-0.0407503,-0.0682359,-0.114978,-0.0852459,-0.0941116,...,-0.033759,-0.102638,-0.096108,-0.0814084,-0.0665021,-0.103701,-0.0870678,-0.0336375,-0.0914244,-0.00756525
alpha_5,-0.0110176,0.024538,0.051485,0.0427469,0.0290496,0.0615758,0.0735334,0.0670268,0.0654774,0.0496308,...,0.0680471,0.0404794,0.00220238,0.028032,0.0639586,0.0283319,0.0136802,0.00597988,0.046577,0.00177321